[http.middlewares.auth.basicAuth]
  usersFile = "/etc/traefik/secrets/users.htpasswd"

[http.middlewares.internal-whitelist.ipAllowList]
  sourceRange = [
    "192.168.1.0/24",
    "10.17.0.0/16",
    "10.17.3.0/16",
    "10.17.4.0/16",
    "10.17.5.0/16",
    "10.42.6.0/32"
  ]

[http.middlewares.redirect-dashboard.redirectRegex]
  regex = "^/dashboard/?(.*)"
  replacement = "/$1"
  permanent = true

[http.routers.dashboard]
  rule = "PathPrefix(`/`)"
  entryPoints = ["traefik"]
  service = "api@internal"
  middlewares = ["redirect-dashboard", "auth", "internal-whitelist"]

[http.services]
  [http.services.dummy.loadBalancer]
    [[http.services.dummy.loadBalancer.servers]]
      url = "http://127.0.0.1"