[http.routers.traefik]
  rule = "PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
  entryPoints = ["traefik"]
  service = "api@internal"
  middlewares = ["auth"]

[http.middlewares.auth.basicAuth]
  usersFile = "/etc/traefik/secrets/users.htpasswd"

[http.services]
  [http.services.dummy.loadBalancer]
    [[http.services.dummy.loadBalancer.servers]]
      url = "http://127.0.0.1"
