version: "3.9"

services:
  traefik:
    image: traefik:v3.3
    container_name: traefik
    network_mode: host
    restart: unless-stopped

    volumes:
      - /etc/traefik/traefik.toml:/etc/traefik/traefik.toml:ro
      - /etc/traefik/acme.json:/acme.json
      - /etc/traefik/certs:/etc/traefik/certs:ro
      - /etc/traefik/dynamic_conf:/etc/traefik/dynamic_conf:ro
      - /etc/traefik/secrets:/etc/traefik/secrets:ro
      - /etc/traefik/traefik-kubeconfig.yaml:/etc/traefik/traefik-kubeconfig.yaml:ro

    environment:
      - KUBECONFIG=/etc/traefik/traefik-kubeconfig.yaml
