version: "3.9"

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"         # HTTP
      - "443:443"       # HTTPS
      - "8080:8080"     # Traefik Dashboard (⚠️ cambiar seguridad más adelante)
    volumes:
      - {{ traefik_config_dir }}/traefik.toml:/etc/traefik/traefik.toml:ro
      - {{ traefik_config_dir }}/acme.json:/acme.json
      - {{ traefik_config_dir }}/certs:/etc/traefik/certs:ro
      - {{ traefik_token_path }}:/var/run/secrets/kubernetes.io/serviceaccount/token:ro
    environment:
      - KUBERNETES_INSECURE_SKIP_TLS_VERIFY=false