version: "3.9"

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /etc/traefik/traefik.toml:/etc/traefik/traefik.toml:ro
      - /etc/traefik/acme.json:/acme.json
      - /etc/traefik/certs:/etc/traefik/certs:ro
      - /etc/traefik/dynamic_conf:/etc/traefik/dynamic_conf:ro
      - /etc/traefik/traefik-kubeconfig.yaml:/etc/traefik/traefik-kubeconfig.yaml:ro
      - /etc/traefik/secrets:/etc/traefik/secrets:ro
    environment:
      - KUBECONFIG=/etc/traefik/traefik-kubeconfig.yaml