[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.traefik]
    address = ":8080"

[api]
  dashboard = true

[providers.kubernetesIngress]
  endpoint = "https://{{ vip }}:6443"
  token = "{{ lookup('file', '/etc/traefik/token') | trim }}" # Leer el token directamente desde el archivo

[providers.kubernetesCRD]
  endpoint = "https://{{ vip }}:6443"
  token = "{{ lookup('file', '/etc/traefik/token') | trim }}" # Leer el token directamente desde el archivo

[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  exposedByDefault = false

[providers.file]
  directory = "/etc/traefik/dynamic_conf"
  watch = true

[log]
  level = "DEBUG"

[serversTransport]
  rootCAs = ["/etc/traefik/server-ca.crt"]

[certificatesResolvers.default]
  [certificatesResolvers.default.acme]
    email = "admin@cefaslocalserver.com"
    storage = "/etc/traefik/acme.json"
    caServer = "https://acme-v02.api.letsencrypt.org/directory" # Producción
    [certificatesResolvers.default.acme.httpChallenge]
      entryPoint = "web"