[Unit]
Description=Traefik Ingress Controller (Docker)
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /etc/traefik/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /etc/traefik/docker-compose.yml down
WorkingDirectory=/etc/traefik

[Install]
WantedBy=multi-user.target