[Unit]
Description=Traefik Docker Compose Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=true
ExecStartPre=/bin/bash -c '[ -f {{ kubeconfig_path }} ]'
WorkingDirectory={{ traefik_config_dir }}
ExecStart=/usr/bin/docker compose -f {{ traefik_config_dir }}/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f {{ traefik_config_dir }}/docker-compose.yml down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target