[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.traefik]
    address = ":8080"

[api]
  dashboard = true
  insecure = false  # Cambia a false y configura autenticación segura
  [api.auth.basic]
    users = ["admin:$apr1$Mv60e4y9$hzGGgjKKRz5yV6L.PTtji."]  # Reemplaza esto con tu usuario y contraseña cifrada

[log]
  level = "DEBUG"

[providers.kubernetesIngress]
  kubeconfigFile = "/etc/traefik/traefik-kubeconfig.yaml"
  namespaces = ["default"]

[certificatesResolvers.default.acme]
  email = "{{ letsencrypt_email | default('admin@example.com') }}"
  storage = "/acme.json"
  [certificatesResolvers.default.acme.httpChallenge]
    entryPoint = "web"

[tls]
  [[tls.certificates]]
    certFile = "/etc/traefik/certs/traefik.crt"
    keyFile = "/etc/traefik/certs/traefik.key"