[Unit]
Description=Traefik Docker Compose Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

# (Opcional si montas token por NFS con systemd)
# Requires=mnt-traefik-token.mount
# After=mnt-traefik-token.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/bash -c '[ -f {{ traefik_token_path }} ]'
WorkingDirectory={{ traefik_config_dir }}
ExecStart=/usr/bin/docker compose -f {{ traefik_config_dir }}/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f {{ traefik_config_dir }}/docker-compose.yml down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
