[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.traefik]
    address = ":8080"

[api]
  dashboard = true
  insecure = false

[log]
  level = "DEBUG"

[providers]
  [providers.file]
    directory = "/etc/traefik/dynamic_conf"
    watch = true

  [providers.kubernetesIngress]
    namespaces = ["default"]

[certificatesResolvers]
  [certificatesResolvers.default.acme]
    email = "admin@example.com"
    storage = "/acme.json"
    [certificatesResolvers.default.acme.httpChallenge]
      entryPoint = "web"

[tls]
  [[tls.certificates]]
    certFile = "/etc/traefik/certs/traefik.crt"
    keyFile = "/etc/traefik/certs/traefik.key"