[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"
      permanent = true

  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.http.tls]
      certResolver = "default"

[log]
  level = "DEBUG"

[api]
  dashboard = true
  insecure = true

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false

  [providers.kubernetesIngress]
    endpoint = "https://{{ k8s_api_vip }}:6443"
    token = "{{ traefik_token }}"
    namespaces = ["default", "traefik"]

  [providers.file]
    directory = "/etc/traefik/dynamic_conf/"
    watch = true

[tls]
  [tls.stores]
    [tls.stores.default]
      [tls.stores.default.defaultCertificate]
        certFile = "/etc/traefik/certs/wildcard.{{ traefik_domain }}.crt"
        keyFile = "/etc/traefik/certs/wildcard.{{ traefik_domain }}.key"

  [tls.options]
    [tls.options.default]
      minVersion = "VersionTLS12"
      maxVersion = "VersionTLS13"
      cipherSuites = [
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_AES_128_GCM_SHA256",
        "TLS_AES_256_GCM_SHA384"
      ]

[certificatesResolvers]
  [certificatesResolvers.default]
    [certificatesResolvers.default.acme]
      email = "{{ letsencrypt_email }}"
      storage = "/etc/traefik/acme.json"
      caServer = "https://acme-v02.api.letsencrypt.org/directory"
      [certificatesResolvers.default.acme.httpChallenge]
        entryPoint = "web"