# Configuración principal global
[global]
  checkNewVersion = true
  sendAnonymousUsage = false

# Nivel de log
[log]
  level = "DEBUG"

# API y dashboard
[api]
  dashboard = true
  insecure = true

# Entrypoints
[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"
      permanent = true

  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.http.tls]

  [entryPoints.traefik]
    address = ":8080"

# Proveedores
[providers]

  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false

  [providers.kubernetesIngress]
    namespaces = ["default", "traefik"]

  [providers.kubernetesCRD]
    namespaces = ["default", "traefik"]

  [providers.file]
    directory = "/etc/traefik/dynamic_conf/"
    watch = true

# TLS
[tls]

  [tls.stores]
    [tls.stores.default]
      [tls.stores.default.defaultCertificate]
        certFile = "/etc/traefik/certs/traefik.local.crt"
        keyFile  = "/etc/traefik/certs/traefik.local.key"

  [tls.options]
    [tls.options.default]
      minVersion = "VersionTLS12"
      maxVersion = "VersionTLS13"
      cipherSuites = [
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_AES_128_GCM_SHA256",
        "TLS_AES_256_GCM_SHA384"
      ]

# Health check
[ping]
  entryPoint = "traefik"