vrrp_instance VI_1 {
    state MASTER
    interface eth0  # ⚠️ cámbialo si tu interfaz no es eth0
    virtual_router_id 51
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass securepassword
    }
    virtual_ipaddress {
        10.17.5.10
    }
}