version: "3.9"

services:
  traefik:
    image: "{{ traefik_docker_image }}"
    container_name: traefik
    restart: always
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.kubernetescrd=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.k8sApi.address=:6443
      - --certificatesresolvers.default.acme.email={{ letsencrypt_email }}
      - --certificatesresolvers.default.acme.storage=/etc/traefik/acme.json
      - --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.http.tls.certresolver=default
      - --log.level=INFO
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
      - "6443:6443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ traefik_config_dir }}:/etc/traefik"
    networks:
      - traefik_network

networks:
  traefik_network:
    driver: bridge
