version: "3.9"

networks:
  traefik-net:
    driver: bridge

services:
  traefik:
    image: "{{ traefik_docker_image }}"
    container_name: "traefik"
    command:
      - "--api.dashboard=true"                # Habilita el dashboard de Traefik
      - "--providers.docker=true"             # Habilita la integración con Docker
      - "--providers.file.directory=/etc/traefik" # Habilita configuraciones dinámicas desde archivos
      - "--entrypoints.web.address=:80"       # Define el puerto para tráfico HTTP
      - "--entrypoints.websecure.address=:443" # Define el puerto para tráfico HTTPS
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure" # Redirige HTTP a HTTPS
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https" # Forza HTTPS
    ports:
      - "80:80"                               # Expone el puerto HTTP
      - "443:443"                             # Expone el puerto HTTPS
      - "8080:8080"                           # Puerto para el dashboard (restringido)
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro" # Conexión al socket de Docker
      - "/etc/traefik/traefik.toml:/traefik.toml:ro"  # Archivo principal de configuración
      - "/etc/traefik:/etc/traefik"                  # Montaje del directorio de configuración
    networks:
      - traefik-net
    restart: always

  whoami:
    image: "traefik/whoami"
    container_name: "simple-service"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami-secure.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami-secure.entrypoints=websecure"
      - "traefik.http.routers.whoami.entrypoints=web"
    networks:
      - traefik-net
    restart: always