[http.routers.k8sApi]
  entryPoints = ["websecure"]
  rule = "Host(`k8sapi.cefaslocalserver.com`)"
  service = "k8sApi"
  [http.routers.k8sApi.tls]
    certResolver = "default"

[http.services]
  [http.services.k8sApi.loadBalancer]
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master1.cefaslocalserver.com:6443"
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master2.cefaslocalserver.com:6443"
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master3.cefaslocalserver.com:6443"
    [http.services.k8sApi.loadBalancer.healthCheck]
      path = "/healthz"
      interval = "10s"
      timeout = "5s"
    [http.services.k8sApi.loadBalancer.server.tls]
      insecureSkipVerify = true