[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.http.tls]

[api]
  dashboard = true
  insecure = true

[log]
  level = "DEBUG"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedByDefault = false

[tls]
  [[tls.certificates]]
    certFile = "/certs/whoami.localhost.crt"
    keyFile = "/certs/whoami.localhost.key"
  [[tls.certificates]]
    certFile = "/certs/loadbalancer1.cefaslocalserver.com.crt"
    keyFile = "/certs/loadbalancer1.cefaslocalserver.com.key"

[http.routers]
  [http.routers.whoami]
    entryPoints = ["web"]
    rule = "Host(`whoami.localhost`)"
    service = "whoami"

  [http.routers.whoami-secure]
    entryPoints = ["websecure"]
    rule = "Host(`whoami.localhost`)"
    service = "whoami"
    [http.routers.whoami-secure.tls]

[http.services]
  [http.services.whoami.loadBalancer]
    [[http.services.whoami.loadBalancer.servers]]
      url = "http://simple-service:80"

  [http.services.k8sApi.loadBalancer]
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master1.cefaslocalserver.com:6443"
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master2.cefaslocalserver.com:6443"
    [[http.services.k8sApi.loadBalancer.servers]]
      url = "https://master3.cefaslocalserver.com:6443"