[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entrypoint]
      to = "websecure"
      scheme = "https"
      permanent = true

  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.http.tls]
      certResolver = "default"

  [entryPoints.k8sApi]
    address = ":6443"

[log]
  level = "INFO"

[api]
  dashboard = true
  insecure = false

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false

  [providers.kubernetesCRD]
    endpoint = "https://10.17.4.21:6443"
    token = "{{ k3s_token_value }}"
    certAuthFilePath = "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
    namespaces = ["default", "traefik"]

[certificatesResolvers]
  [certificatesResolvers.default]
    [certificatesResolvers.default.acme]
      email = "{{ letsencrypt_email }}"
      storage = "/etc/traefik/acme.json"
      caServer = "https://acme-v02.api.letsencrypt.org/directory"
      [certificatesResolvers.default.acme.httpChallenge]
        entryPoint = "web"